server/config/raw/wsdl/iboinfo.wsdl

<?xml version="1.0"?>
<!--Generated by the iWay Business Services Engine on 1:44:54 PM - Wednesday, November 21, 2001-->
<definitions name="iboinfo" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:schemas-iwaysoftware-com:iwse" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="urn:schemas-iwaysoftware-com:iwse" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <types>
<xs:schema targetNamespace="urn:schemas-iwaysoftware-com:iwse" xmlns:tns="urn:schemas-iwaysoftware-com:iwse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MAPRPC">
    <xs:sequence>
      <xs:element name="rpcserver" type="xs:string"/>
      <xs:element name="rpcname" type="xs:string"/>
      <xs:element name="rpcuser" type="xs:string" nillable="true"/>
      <xs:element name="rpcpass" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MAPIBO">
    <xs:sequence>
      <xs:element name="iboname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MAPAgent">
    <xs:sequence>
      <xs:element name="agentname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MAPTYPE">
    <xs:choice>
      <xs:element name="MAPRPC" type="tns:MAPRPC"/>
      <xs:element name="MAPIBO" type="tns:MAPIBO"/>
      <xs:element name="MAPAGENT" type="tns:MAPAgent"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ibsrepository">
    <xs:sequence>
      <xs:element name="IBSSecurityPolicy" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IPDomains">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="IPDomain" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="key" type="xs:string" use="required"/>
                      <xs:attribute name="name" type="xs:string" use="required"/>
                      <xs:attribute name="type" type="xs:integer" use="required"/>
                      <xs:attribute name="description" type="xs:string" use="optional"/>
                      <xs:attribute name="modified" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="new"/>
                            <xs:enumeration value="updated"/>
                            <xs:enumeration value="deleted"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="access" type="xs:boolean" use="required"/>
                <xs:attribute name="modified" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="updated"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="UserandGroup">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Users">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="User" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:attribute name="key" type="xs:string" use="required"/>
                            <xs:attribute name="name" type="xs:string" use="required"/>
                            <xs:attribute name="password" type="xs:string" use="required"/>
                            <xs:attribute name="description" type="xs:string" use="optional"/>
                            <xs:attribute name="modified" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="new"/>
                                  <xs:enumeration value="updated"/>
                                  <xs:enumeration value="deleted"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="modified" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="updated"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Groups">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Group" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="User" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:attribute name="name" type="xs:string" use="required"/>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="key" type="xs:string" use="required"/>
                            <xs:attribute name="name" type="xs:string" use="required"/>
                            <xs:attribute name="description" type="xs:string" use="optional"/>
                            <xs:attribute name="modified" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="new"/>
                                  <xs:enumeration value="updated"/>
                                  <xs:enumeration value="deleted"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="modified" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="updated"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="modified" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="updated"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Policies">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Policy" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="tns:POLICYTYPE">
                          <xs:attribute name="name" type="xs:string" use="required"/>
                          <xs:attribute name="type" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="RESOURCERESTRICTION"/>
                                <xs:enumeration value="PROVIDERRESTRICTION"/>
                                <xs:enumeration value="PROVIDERREROUTING"/>
                                <xs:enumeration value="PROVIDERFAILOVER"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="description" type="xs:string" use="optional"/>
                          <xs:attribute name="key" type="xs:string" use="required"/>
                          <xs:attribute name="modified" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="new"/>
                                <xs:enumeration value="updated"/>
                                <xs:enumeration value="deleted"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="modified" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="updated"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="modified" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="updated"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="listeners">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="soapservers">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="soapserver" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="name" type="xs:string" use="required"/>
                      <xs:attribute name="url" type="xs:string" use="required"/>
                      <xs:attribute name="wsdlroot" type="xs:string" use="required"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="readonly" type="xs:boolean" default="true"/>
          <xs:attribute name="security" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="datasources">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="datasource" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="description"/>
                  <xs:element name="host"/>
                  <xs:element name="service"/>
                  <xs:element name="protocol"/>
                  <xs:element name="class"/>
                  <xs:element name="connection"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="username" type="xs:string" use="optional"/>
                <xs:attribute name="password" type="xs:string" use="optional"/>
                <xs:attribute name="modified" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="new"/>
                      <xs:enumeration value="updated"/>
                      <xs:enumeration value="deleted"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="key" type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="modified" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="new"/>
                <xs:enumeration value="updated"/>
                <xs:enumeration value="deleted"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="licenses">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="license" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="soapserver" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="name" type="xs:string" use="required"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="code" type="xs:string" use="required"/>
                <xs:attribute name="description" type="xs:string" use="optional"/>
                <xs:attribute name="modified" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="new"/>
                      <xs:enumeration value="updated"/>
                      <xs:enumeration value="deleted"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="key" type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="modified" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="new"/>
                <xs:enumeration value="updated"/>
                <xs:enumeration value="deleted"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="services">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="description">
                    <xs:complexType>
                      <xs:attribute name="modified" type="xs:string" use="optional"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="licenses">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="license" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:attribute name="name" type="xs:string" use="required"/>
                            <xs:attribute name="modified" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="new"/>
                                  <xs:enumeration value="updated"/>
                                  <xs:enumeration value="deleted"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="modified" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="new"/>
                            <xs:enumeration value="updated"/>
                            <xs:enumeration value="deleted"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="methods">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="method" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="description">
                                <xs:complexType>
                                  <xs:attribute name="modified" type="xs:string" use="optional"/>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="object">
                                <xs:complexType>
                                  <xs:complexContent>
                                    <xs:extension base="tns:MAPTYPE">
                                      <xs:attribute name="modified" use="optional">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value="new"/>
                                            <xs:enumeration value="updated"/>
                                            <xs:enumeration value="deleted"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:attribute>
                                    </xs:extension>
                                  </xs:complexContent>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="arguments">
                                <xs:complexType>
                                  <xs:attribute name="modified" use="optional">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="new"/>
                                        <xs:enumeration value="updated"/>
                                        <xs:enumeration value="deleted"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="results">
                                <xs:complexType>
                                  <xs:attribute name="modified" use="optional">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="new"/>
                                        <xs:enumeration value="updated"/>
                                        <xs:enumeration value="deleted"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="name" type="xs:string" use="required"/>
                            <xs:attribute name="type" use="required">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="RPC"/>
                                  <xs:enumeration value="IBO"/>
                                  <xs:enumeration value="AGENT"/>
                                  <xs:enumeration value="ADAPTER"/>
                                  <xs:enumeration value="ADPRPC"/>
                                  <xs:enumeration value="ADAPTER2"/>
                                  <xs:enumeration value="ADPRPC2"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="modified" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="new"/>
                                  <xs:enumeration value="updated"/>
                                  <xs:enumeration value="deleted"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="key" type="xs:string" use="optional"/>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="modified" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="new"/>
                            <xs:enumeration value="updated"/>
                            <xs:enumeration value="deleted"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="modified" use="optional">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="new"/>
                      <xs:enumeration value="updated"/>
                      <xs:enumeration value="deleted"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="key" type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="modified" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="new"/>
                <xs:enumeration value="updated"/>
                <xs:enumeration value="deleted"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" default="1.0"/>
    <xs:attribute name="modified" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="new"/>
          <xs:enumeration value="updated"/>
          <xs:enumeration value="deleted"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="GETIBOLIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LICENSE" type="xs:string" nillable="false"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" default="1.0"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IBOLIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IBO" type="tns:IBO" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="cid" type="xs:string"/>
      <xs:attribute name="license" type="xs:string"/>
      <xs:attribute name="console" type="xs:string"/>
      <xs:attribute name="version" type="xs:string" default="1.0"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IBO">
    <xs:sequence>
      <xs:element name="name" type="xs:string" nillable="false"/>
      <xs:element name="description" type="xs:string" nillable="false"/>
      <xs:element name="modified" type="xs:dateTime" nillable="false"/>
      <xs:element name="wsdl" type="xs:string" nillable="false"/>
      <xs:element name="methods" type="tns:methods" nillable="false"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="methods">
    <xs:sequence>
      <xs:element name="spec" type="tns:spec" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spec">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="GETIBSREPO"/>
  <xs:element name="GETIBSREPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ibsrepository" type="tns:ibsrepository" nillable="false"/>
      </xs:sequence>
      <xs:attribute name="cid" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SETIBSREPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ibsrepository" type="tns:ibsrepository" nillable="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SETIBSREPOResponse">
    <xs:complexType>
      <xs:attribute name="cid" type="xs:string"/>
      <xs:attribute name="status" type="xs:string" default="complete"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUBIBSREPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LICENSE" type="xs:string" nillable="false"/>
      </xs:sequence>
      <xs:attribute name="service" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUBIBSREPOResponse">
    <xs:complexType>
      <xs:attribute name="cid" type="xs:string"/>
      <xs:attribute name="status" type="xs:string" default="complete"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETJOBLIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="host" type="xs:string" minOccurs="0"/>
        <xs:element name="port" type="xs:int" minOccurs="0"/>
        <xs:element name="source" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="host" type="xs:string"/>
      <xs:attribute name="port" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GETJOBLISTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JOB" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:JOB">
                <xs:sequence minOccurs="0">
                  <xs:element name="OBJECT" type="tns:JOBTYPE"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="cid" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="JOB">
    <xs:attribute name="cid" type="xs:string"/>
    <xs:attribute name="start" type="xs:string"/>
    <xs:attribute name="end" type="xs:string"/>
    <xs:attribute name="action" type="xs:string"/>
    <xs:attribute name="status">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="complete"/>
          <xs:enumeration value="error"/>
          <xs:enumeration value="pending"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="JOBTYPE">
    <xs:choice>
      <xs:element name="ERROR" type="tns:ERROR"/>
      <xs:element name="PENDING" type="tns:PENDING"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ERROR">
    <xs:sequence>
      <xs:element name="faultcode" type="xs:string"/>
      <xs:element name="faultstring" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PENDING"/>
  <xs:complexType name="POLICYTYPE">
    <xs:choice>
      <xs:element name="RESOURCERESTRICTION" type="tns:RESOURCERESTRICTION"/>
      <xs:element name="PROVIDERRESTRICTION" type="tns:PROVIDERRESTRICTION"/>
      <xs:element name="PROVIDERREROUTING" type="tns:PROVIDERREROUTING"/>
      <xs:element name="PROVIDERFAILOVER" type="tns:PROVIDERFAILOVER"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RESOURCERESTRICTION">
    <xs:sequence>
      <xs:element name="UserRestrictions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserRestriction" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="status" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="allow"/>
                      <xs:enumeration value="deny"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupRestrictions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupRestriction" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="status" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="allow"/>
                      <xs:enumeration value="deny"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROVIDERRESTRICTION">
    <xs:sequence>
      <xs:element name="UserRestrictions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserRestriction" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="status" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="allow"/>
                      <xs:enumeration value="deny"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupRestrictions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupRestriction" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="status" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="allow"/>
                      <xs:enumeration value="deny"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROVIDERREROUTING">
    <xs:sequence>
      <xs:element name="UserProviders">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UserProvider" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="user" type="xs:string" use="required"/>
                <xs:attribute name="provider" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GroupProviders">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GroupProvider" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="group" type="xs:string" use="required"/>
                <xs:attribute name="provider" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PROVIDERFAILOVER">
    <xs:sequence>
      <xs:element name="Providers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Provider" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="order" type="xs:integer" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ibsinfo"> 
    <xs:complexType> 
      <xs:sequence> 
        <xs:element type="xs:string" name="service" /> 
        <xs:element type="xs:string" name="method" /> 
        <xs:element type="xs:string" name="license" /> 
        <xs:element type="xs:string" name="disposition" minOccurs="0" /> 
        <xs:element type="xs:string" name="Username" minOccurs="0" /> 
        <xs:element type="xs:string" name="Password" minOccurs="0" /> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element>
</xs:schema>
  </types>
  <message name="ibseHeader"> 
    <part name="header" element="tns:ibsinfo" /> 
  </message>
  <message name="GETIBOLISTIn">
    <part name="parameters" element="tns:GETIBOLIST"/>
  </message>
  <message name="GETIBOLISTOut">
    <part name="parameters" element="tns:IBOLIST"/>
  </message>
  <message name="GETIBSREPOIn">
    <part name="parameters" element="tns:GETIBSREPO"/>
  </message>
  <message name="GETIBSREPOOut">
    <part name="parameters" element="tns:GETIBSREPOResponse"/>
  </message>
  <message name="SETIBSREPOIn">
    <part name="parameters" element="tns:SETIBSREPO"/>
  </message>
  <message name="SETIBSREPOOut">
    <part name="parameters" element="tns:SETIBSREPOResponse"/>
  </message>
  <message name="PUBIBSREPOIn">
    <part name="parameters" element="tns:PUBIBSREPO"/>
  </message>
  <message name="PUBIBSREPOOut">
    <part name="parameters" element="tns:PUBIBSREPOResponse"/>
  </message>
  <message name="GETJOBLISTIn">
    <part name="parameters" element="tns:GETJOBLIST"/>
  </message>
  <message name="GETJOBLISTOut">
    <part name="parameters" element="tns:GETJOBLISTResponse"/>
  </message>
  <portType name="iboinfoSoap">
    <operation name="GETIBOLIST">
      <documentation>Get iWay Business Objects Metadata</documentation>
      <input message="tns:GETIBOLISTIn"/>
      <output message="tns:GETIBOLISTOut"/>
    </operation>
    <operation name="GETIBSREPO">
      <documentation>Get iWay Web Service Repository</documentation>
      <input message="tns:GETIBSREPOIn"/>
      <output message="tns:GETIBSREPOOut"/>
    </operation>
    <operation name="SETIBSREPO">
      <documentation>Set iWay Web Service Repository</documentation>
      <input message="tns:SETIBSREPOIn"/>
      <output message="tns:SETIBSREPOOut"/>
    </operation>
    <operation name="PUBIBSREPO">
      <documentation>Publish iWay Web Service Repository</documentation>
      <input message="tns:PUBIBSREPOIn"/>
      <output message="tns:PUBIBSREPOOut"/>
    </operation>
    <operation name="GETJOBLIST">
      <documentation>Get Pending Job List</documentation>
      <input message="tns:GETJOBLISTIn"/>
      <output message="tns:GETJOBLISTOut"/>
    </operation>
  </portType>
  <binding name="iboinfoSoap" type="tns:iboinfoSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GETIBOLIST">
      <soap:operation soapAction="iboinfo.GETIBOLISTRequest#admin##"
        style="document" />
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:ibseHeader" part="header" use="literal" /> 
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GETIBSREPO">
      <soap:operation soapAction="iboinfo.GETIBSREPORequest#admin##"
        style="document" />
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:ibseHeader" part="header" use="literal" /> 
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SETIBSREPO">
      <soap:operation soapAction="iboinfo.SETIBSREPORequest#admin##"
        style="document" />
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:ibseHeader" part="header" use="literal" /> 
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PUBIBSREPO">
      <soap:operation soapAction="iboinfo.PUBIBSREPORequest#admin##"
        style="document" />
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:ibseHeader" part="header" use="literal" /> 
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GETJOBLIST">
      <soap:operation soapAction="iboinfo.GETJOBLISTRequest#admin##"
        style="document" />
      <input>
        <soap:body use="literal"/>
        <soap:header message="tns:ibseHeader" part="header" use="literal" /> 
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="iboinfo">
    <documentation>iWay Web Service Info</documentation>
    <port name="iboinfoSoap" binding="tns:iboinfoSoap">
      <soap:address location="XDSOAPIXTS"/>
    </port>
  </service>
</definitions>
